<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PixNote</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light box-shadow fixed-top py-3">
            <div class="container-fluid navbarMain">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">PixNote</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Image" asp-action="Index"
                                id="scrollViewButton">
                                Scroll View
                            </a>
                        </li>


                        <li>
                            <a asp-controller="Image" asp-action="Upload" class="nav-link text-light"
                                id="uploadImageButton">
                                Upload Image
                            </a>
                        </li>
                    </ul>


                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="text-light">Greetings, @User.Identity.Name</span>
                                <a class="btn btn-danger mx-2" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary mt-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-success mt-2" asp-area="Identity"
                                    asp-page="/Account/Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="logOutContainer">
        <main role="main" class="logout">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footerMain">
        <div class="container">
            &copy; 2024 - PixNote - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        $(document).ready(function () {

            var isAuthenticated = '@User.Identity.IsAuthenticated'.toLowerCase();

            if (isAuthenticated === "false") {
                $('#uploadImageButton').click(function (event) {
                    event.preventDefault();
                    alert("You must be logged in to upload an image.");
                });
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
