/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white !important; 
}

a {
  color: white; 
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;

}
.footerMain {
  position: absolute;
  bottom: 1em;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.navbar {
  background-color: lightgoldenrodyellow
  !important;
  border-bottom: none;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
}

.scrollable-comments {
  max-height: 400px;
  overflow-y: auto;
}

.comment {
  margin-bottom: 10px;
}

.add-comment textarea {
  width: 100%;
  height: 50px;
  resize: none;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: thin; 
}

.scroll-container::-webkit-scrollbar {
  height: 8px; 
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.scroll-item {
  flex: 0 0 auto; 
  margin-right: 10px;
  max-width: 300px; 
}

.image-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-card img {
  width: 100%;
  height: auto;
}