@model PixNote.ViewModels.ImageUploadViewModel
@{
    ViewData["Title"] = "Upload Image";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Upload.css">

</head>
<body>
    <div class="UploadMain">
        <h2>Upload Image</h2>

        <form class="FormMain" asp-action="Upload" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input name="description" class="form-control" required></input>
            </div>
            <div class="form-group">
                <label for="imageFile">Select Image:</label>
                <input type="file" accept=" image/png, image/gif, image/jpeg" name="imageFile" class="form-control"
                    required />
            </div>
            <div class="Buttons">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>

    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>