# Ignore build output
bin/
obj/
obj

# Ignore user-specific files
*.suo
*.user
*.userprefs

# Ignore Visual Studio temporary files
*.vs/
*.vscode/

# Ignore compiled language files
*.dll
*.exe
*.pdb
*.cache

# Ignore database files
*.db
*.db-wal
*.db-shm

    bin/Debug/net8.0/PixNote.dll
        bin/Debug/net8.0/PixNote.exe