.ScrollviewMain{
    display: grid;
    justify-content: center;
    padding: 5em;
    align-items: center;
    justify-items: center;
}

.scroll-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.scroll-item {
    border: 1px solid red;
    padding: 1em;
}