/** @format */

h2 {
  padding-top: 2em;
}
.UploadMain {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormMain {
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Buttons {
  text-align: center !important;
}
